@tailwind base;


a {
  @apply text-blue-700;
}

a:hover {
  @apply no-underline;
}

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    font-family: 'Saira Stencil One', Lora, cursive, Open Sans;
    scroll-behavior: smooth;
  }
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer components {
    .icon-header {
      @apply ml-4 border-2 rounded-full p-1 bg-primary-color 
    } 
    .bg-main {
      @apply bg-primary-color
    }
    .nav-item {
      @apply flex w-full items-center rounded py-1 px-4 text-center hover:bg-pink-200  cursor-pointer
    }
    .spinner {
      @apply animate-spin border-solid border-[5px] border-t-[5px] border-primary-border border-t-gray-500 w-[40px] h-[40px] rounded-[50%] mx-auto;
    }
}
